# Financial News Sentiment Analysis - EDA

## Task 1: Exploratory Data Analysis

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter

# Set plot style
sns.set_theme()
sns.set_palette('husl')

# List of tickers and their file paths
tickers = ['AAPL', 'AMZN', 'GOOG', 'NVDA', 'TSLA', 'META']
file_paths = [
     r'C:\Users\hp\Downloads\Telegram Desktop\10Academy-Week1-FNSPID\data\AAPL_historical_data.csv',
    r'C:\Users\hp\Downloads\Telegram Desktop\10Academy-Week1-FNSPID\data\AMZN_historical_data.csv',
    r'C:\Users\hp\Downloads\Telegram Desktop\10Academy-Week1-FNSPID\data\GOOG_historical_data.csv',
    r'C:\Users\hp\Downloads\Telegram Desktop\10Academy-Week1-FNSPID\data\META_historical_data.csv',
    r'C:\Users\hp\Downloads\Telegram Desktop\10Academy-Week1-FNSPID\data\NVDA_historical_data.csv',
    r'C:\Users\hp\Downloads\Telegram Desktop\10Academy-Week1-FNSPID\data\TSLA_historical_data.csv'
]

# Combine all stock data into one DataFrame
dfs = []
for ticker, path in zip(tickers, file_paths):
    temp_df = pd.read_csv(path)
    temp_df['ticker'] = ticker
    dfs.append(temp_df)

df = pd.concat(dfs, ignore_index=True)

# Analyst ratings
Ddf = pd.read_csv('C:/Users/hp/Downloads/Telegram Desktop/10Academy-Week1-FNSPID/data/raw_analyst_ratings.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,ticker
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,AAPL
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,AAPL
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,AAPL

In [12]:
df.info()
df.head()
df['ticker'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35756 entries, 0 to 35755
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          35756 non-null  object
 1   Open          35756 non-null  float64
 2   High          35756 non-null  float64
 3   Low           35756 non-null  float64
 4   Close         35756 non-null  float64
 5   Adj Close     35756 non-null  float64
 6   Volume        35756 non-null  int64
 7   Dividends     35756 non-null  float64
 8   Stock Splits  35756 non-null  float64
 9   ticker        35756 non-null  object
dtypes: float64(7), int64(1), object(2)
memory usage: 2.7+ MB

ticker
AAPL    10998
AMZN     6846
TSLA     6421
GOOG     5020
META     3545
NVDA     2926
Name: count, dtype: int64

In [20]:
plt.style.use('seaborn-v0_8')

In [21]:
sns.set_theme()

In [22]:
# ...existing code...
# Set plot style
sns.set_theme()
sns.set_palette('husl')
# ...existing code...

In [23]:
# ...existing code...
# Set plot style
sns.set_theme()
sns.set_palette('husl')
# ...existing code...

In [24]:
# ...existing code...
# Set plot style
sns.set_theme()
sns.set_palette('husl')
# ...existing code...